.wraper-site-nav {
    @include flexbox($align-items: center);
}
.burger {
    @media (min-width: 1280px) {
        display: none;
    }
}
.burger__line {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000;

    &:not(:last-child) {
        margin-bottom: 3px;
    }
}
.site-navigation {
    display: none;
    @media (min-width: 1280px) {
        @include flexbox(space-between, center);
        &__item {
          margin-right: 44px;
        }

        &__link {
            font-size: 14px;
            font-family: "Tahoma";
            color: rgb(185, 185, 185);
            font-weight: bold;
            text-transform: uppercase;
            @include transition();
            
            &:hover,
            &:focus {
                color: rgb(255, 107, 8);
            }
        }
    }
    
}
.header__button-cons {
    display: none;
    @media (min-width: 768px) {
        display: block;
        padding: 22px;
        font-size: 11px;
        font-family: "Tahoma", sans-serif;
        color: rgb(255, 107, 8);
        font-weight: 700;
        text-transform: uppercase;
        border: 2px solid rgb(255, 107, 8);
        background: transparent;
    }
    @media (min-width: 768px) and (max-width: 1279px) {
        margin-right: 44px;
    }
    @media (min-width: 1680px) {
        margin-right: 108px;
    }
}
